<template>
 
  <!-- Setting offcanvas start here -->
  <b-offcanvas v-model="show" :backdrop="false" title="Live Customizer" :placement="themeSchemeDirection !== 'ltr' ? 'start' : 'end'" class="live-customizer" id="live-customizer" :body-scrolling="true">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <!-- Theme start here -->

          <div>
            <theme-scheme />
          </div>

          <!-- Theme end here -->

          <hr class="hr-horizontal" />

          <!-- Color customizer start here -->
          <color-customizer />
          <!-- Color customizer end here -->

          <hr class="hr-horizontal" />

          <!-- Menu color start here -->
          <menu-color v-if="isShowSetting('isSidebar')" />
          <!-- Menu color end here -->

          <hr class="hr-horizontal" />

          <!-- Menu Style start here -->
          <menu-style v-if="isShowSetting('isSidebar')" />
          <!-- Menu Style end here -->

          <hr class="hr-horizontal" />

          <!-- Active Menu Style start here -->
          <menu-active-style v-if="isShowSetting('isSidebar')" />
          <!-- Active Menu Style end here -->

          <hr class="hr-horizontal" />

          <!-- Navbar style start here -->
          <navbar-style v-if="isShowSetting('isNavbar')" />
          <!-- Navbar style end here -->
        </div>
      </div>
    </div>
  </b-offcanvas>
 
  <!-- Settings sidebar end here -->
</template>
<script>
// Vue / Vuex Functions
import { ref, onMounted, onUnmounted, computed, watch } from 'vue'
import { useStore } from 'vuex'
import { useRoute } from 'vue-router'

// Style Components
import ThemeScheme from './sections/ThemeScheme.vue'
import ColorCustomizer from './sections/ColorCustomizer.vue'
import MenuColor from './sections/MenuColor.vue'
import MenuStyle from './sections/MenuStyle.vue'
import MenuActiveStyle from './sections/MenuActiveStyle.vue'
import NavbarStyle from './sections/NavbarStyle.vue'
// Utilities
import { copyToClipboard } from '@/utilities/dom'
export default {
  name: 'SettingOffcanvas',
  components: {
    // Style Components
    ThemeScheme,
    ColorCustomizer,
    MenuColor,
    MenuStyle,
    MenuActiveStyle,
    NavbarStyle
  },
  setup() {
    // Store objects
    const store = useStore()
    const route = useRoute()
    const themeSchemeDirection = computed(() => store.getters['setting/theme_scheme_direction'])

    // Variables
    const show = ref(false)

    // Functions
    const close = () => {
      show.value = false
    }
    const open = () => {
      show.value = true
    }
    const onClick = (e) => {
      if (show.value) {
        if (e.target.closest('.live-customizer') == null && e.target.closest('#settingbutton') == null) {
          show.value = false
        }
      }
    }
    const copyConfig = () => {
      copyToClipboard(store.state.setting)
    }
    const defaultSetting = () => {
      store.dispatch('setting/reset_state')
    }
    const isShowSetting = (name) => {
      return !route.meta[name]
    }

    // Life cycle hooks
    watch(themeSchemeDirection, () => {
      show.value = false
    })
    onMounted(() => {
      document.body.addEventListener('click', onClick)
    })
    onUnmounted(() => {
      document.body.removeEventListener('click', onClick)
    })

    // Return functions & variables
    return {
      themeSchemeDirection,
      show,
      isShowSetting,
      copyConfig,
      defaultSetting,
      close,
      open
    }
  }
}
</script>
<style>
.live-customizer .offcanvas-title {
  font-size: calc(1.269rem + 0.228vw);
  flex: 1;
}
@media (min-width: 1200px) {
  .live-customizer .offcanvas-title {
    font-size: 1.44rem;
  }
}
</style>
