<template>
  <div class="iq-navbar-header" style="height: 215px">
    <b-container fluid class="iq-container">
      <b-row>
        <b-col md="12">
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div>
              <h1></h1>
              <p></p>
            </div>                       
          </div>
        </b-col>
      </b-row>
    </b-container>
    <div class="iq-header-img">
      <img src="@/assets/images/dashboard/img.jpg" alt="header" class="theme-color-default-img img-fluid w-100 h-80 animated-scaleX" />
     </div>
  </div>
</template>
<script>
export default {}
</script>
