<template>
  <!-- Footer Section Start -->
  <footer :class="`footer ${footerStyle}`">
    <div class="footer-body">
      
      <div class="right-panel">
        ©2023 suivi des dossiers “Assurance”

      </div>
    </div>
  </footer>
  <!-- Footer Section End -->
  <b-modal v-model="signInPopup" @hide="hideSignInModal" title="" hide-footer hide-header>
    <sign-in-form-component></sign-in-form-component>
  </b-modal>
  <b-modal v-model="signUpPopup" @hide="hideSignUpModal" title="" hide-footer hide-header>
    <sign-up-form-component></sign-up-form-component>
  </b-modal>
  
</template>

<script>
import { computed, watch, ref } from 'vue'
import { useStore } from 'vuex'

export default {

  setup() {
    const store = useStore()
    const footerStyle = computed(() => store.getters['setting/footer_style'])

    // Auth Popup
    const signInPopup = ref(false)
    const signUpPopup = ref(false)
    watch(
      () => store.getters.signInPopup,
      (newValue) => {
        signInPopup.value = newValue
      }
    )
    watch(
      () => store.getters.signUpPopup,
      (newValue) => {
        signUpPopup.value = newValue
      }
    )

    const hideSignInModal = () => {
      store.dispatch('openModalAction', { name: 'signInPopup', value: false })
    }
    const hideSignUpModal = () => {
      store.dispatch('openModalAction', { name: 'signUpPopup', value: false })
    }


    return {
      footerStyle,
      signInPopup,
      signUpPopup,
      hideSignInModal,
      hideSignUpModal,
    
    }
  },
  data() {
    return {}
  }
}
</script>
