<template>
  <!-- Sidebar Component Start Here-->
  <default-sidebar>
    <ul class="navbar-nav iq-main-menu" id="sidebar-menu">
      <side-menu title="Home" :static-item="true"></side-menu>
      <side-menu title="Dashboard" icon="view-grid" :route="{ to: 'default.dashboard' }" :active="true"></side-menu>
      <li><hr class="hr-horizontal" /></li>
      <side-menu title="PAGES" :static-item="true"></side-menu>
     

      <side-menu v-if="this.user=='admin'" title="Agents" icon="user-group" toggle-id="users" :caret-icon="true">
        <b-collapse tag="ul" class="sub-nav" id="users" accordion="sidebar-menu">
          <side-menu title="Ajouter Agent" icon="circle" :icon-size="10" icon-type="solid" miniTitle="PA" :route="{ to: 'default.user-add' }"></side-menu>
          <side-menu title="Liste des agents" icon="circle" :icon-size="10" icon-type="solid" miniTitle="PL" :route="{ to: 'default.user-list' }"></side-menu>
        </b-collapse>
      </side-menu>
      <side-menu v-if="this.user=='agent'" title="Adhérent" icon="user-group" toggle-id="techs" :caret-icon="true">
        <b-collapse tag="ul" class="sub-nav" id="techs" accordion="sidebar-menu">
         <side-menu title="Ajouter Adhérent" icon="circle" :icon-size="10" icon-type="solid" miniTitle="TA" :route="{ to: 'default.tech-add' }"></side-menu>
          <side-menu title="Liste des Adhérents" icon="circle" :icon-size="10" icon-type="solid" miniTitle="TL" :route="{ to: 'default.tech-list' }"></side-menu>
        </b-collapse>
      </side-menu>      
      <!--side-menu title="Dossiers" icon="file" :route="{ to: 'default.Request-list' }"></side-menu>
      <side-menu title="Ajouter Dossiers" icon="file" :route="{ to: 'default.Request-list' }"></side-menu>
      <side-menu title="Liste des Dossiers" icon="file" :route="{ to: 'default.Request-list' }"></side-menu-->
    </ul>
  </default-sidebar>
  <!-- Sidebar Component End Here-->
</template>

<script>
import { ref } from 'vue'
import { useRoute } from 'vue-router'
import DefaultSidebar from '@/components/custom/sidebar/DefaultSidebar.vue'
import SideMenu from '@/components/custom/nav/SideMenu.vue'
export default {
  components: { DefaultSidebar, SideMenu },
  setup() {
    const visible = ref(false)
    const currentRoute = useRoute()
    const openMenu = () => {
      visible.value = !visible.value
    }
    const checkActive = (route) => {
      if (currentRoute.name === route) {
        return true
      }
      if (route.includes(currentRoute.name)) {
        return true
      }
    }

    return { visible, openMenu, checkActive }
  },
  data(){
    return {
      user:null,
      admin:null
    }
  },
  mounted(){
    const role=JSON.parse(localStorage.getItem("user")).role;
    if(role=="ROLE_ADMIN")
    {
     this.admin='admin';
    }
    else if(role=="ROLE_AGENT")
    this.user='agent'; 
    else
    this.user='user'; 

  }
}

</script>

