<template>
  <section class="login-content">
    <b-row class="m-0 align-items-center bg-white h-100">
      <b-col md="6">
        <b-row class="justify-content-center">
          <b-col md="10">
            <b-card class="card-transparent shadow-none d-flex justify-content-center mb-0 auth-card iq-auth-form">
              <router-link :to="{ name: 'default.dashboard' }" class="navbar-brand d-flex align-items-center mb-3">
                <brand-logo></brand-logo>
                <h4 class="logo-title ms-3 mb-0" data-setting="app_name">AssuMa</h4>
              </router-link>
              <h2 class="mb-2 text-center">S'identifier</h2>
              <p class="text-center">Connectez-vous pour rester connecté.</p>
              <form @submit.prevent="handleLogin">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="email" class="form-label">Login</label>
                      <input type="text" class="form-control" id="email" aria-describedby="login" placeholder="Login"
                        v-model="user.username" v-validate="'required'" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="password" class="form-label">Mot de passe</label>
                      <input type="password" class="form-control" id="password" aria-describedby="password"
                        placeholder="mot de passe" v-model="user.password" v-validate="'required'" />
                    </div>
                  </div>
                  <div class="col-lg-12 d-flex justify-content-between">
                    <div class="form-check mb-3">

                    </div>

                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
                <div class="form-group">
                  <div v-if="message" class="alert alert-danger" role="alert">{{ message }}</div>
                </div>



              </form>
            </b-card>
          </b-col>
        </b-row>

      </b-col>
      <div class="col-md-6 d-md-block d-none bg-primary p-0 vh-100 overflow-hidden">
        <img src="@/assets/images/auth/assu.png" class="img-fluid gradient-main animated-scaleX" alt="images"
          loading="lazy" />
      </div>
    </b-row>
  </section>
</template>

<script setup></script>

<style lang="scss" scoped></style>
<script>
import User from '../../../models/user';
//import Vue from 'vue'
export default {
  name: 'SignIn',
  data() {
    return {
      user: new User('', ''),
      loading: false,
      message: ''
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  created() {
    if (this.loggedIn) {
      this.$router.push('/dashboard');
    }
  },
  methods: {
    handleLogin() {
      this.loading = true;
      if (this.user.username && this.user.password) {
        console.log(this.user.password)
        this.$store.dispatch('auth/login', this.user).then(
          () => {
            let usero = JSON.parse(localStorage.getItem('user'));
            if (usero.changepass=="FALSE")
              this.$router.push('/Edit-Pass');
            else
              this.$router.push('/dashboard');
          },
          error => {
            this.loading = false;
            this.message =
              (error.response && error.response.data && error.response.data.message) ||
              error.message ||
              error.toString();
          }
        );
      }
    }
  }
};

</script>