<template>
  <b-card no-body>
    <b-card-header>
      <div class="header-title">
        <h4 class="card-title">Profile</h4>
      </div>
    </b-card-header>
    <b-card-body>
      <div class="text-center">
        <div>
          <img src="@/assets/images/avatars/01.png" alt="profile-img" class="rounded-pill avatar-130 img-fluid" loading="lazy" />
        </div>
        <div class="mt-3">
          <h3 class="d-inline-block">{{nom}} {{prenom}}</h3>
       
          <p class="mb-0">{{text}}</p>
        </div>
      </div>
    </b-card-body>
  </b-card>
  <b-card>
    <b-card-header>
      <div class="header-title">
        <h4 class="card-title">À propos de l'utilisateur :</h4>
      </div>
    </b-card-header>
    <b-card-body>
      <div class="mt-2">
        <h6 class="mb-1">Cin:</h6>
        <p>{{ cin}}</p>
      </div>
      <div class="mt-2">
        <h6 class="mb-1">Email:</h6>
        <p>{{ email }}</p>
      </div>
      <div class="mt-2">
        <h6 class="mb-1">Numéro de téléphone :</h6>
        <p>
          <a href="#" class="text-body"> {{ tele }}</a>
        </p>
      </div>
      <div class="mt-2">
        <h6 class="mb-1">Date de Naissance:</h6>
        <p>
          <a href="#" class="text-body" target="_blank"> {{ date_naissance }} </a>
        </p>
      </div>
      <div class="mt-2">
        <h6 class="mb-1">Lieu de Naissance:</h6>
        <p>
          <a href="#" class="text-body">{{ lieu_naissance }}</a>
        </p>
      </div>
      <div class="mt-2">
        <h6 class="mb-1">immatriculation:</h6>
        <p>
          <a href="#" class="text-body">{{ immatriculation }}</a>
        </p>
      </div>
    </b-card-body>
  </b-card>
</template>
<script>
export default {
  props: {

  nom: { type: String, required: true },
  prenom: { type: String, required: true },
  cin: { type: String, required: true },
  email: { type: String, required: true },
  tele: { type: String, required: true },
  date_naissance: { type: String, required: true },
  lieu_naissance: { type: String, required: true },
  immatriculation: { type: String, required: true },
  role:{ type: String, required: true },
  text:{ type: String, required: true },
  }
}
</script>
