<template>
  <tr v-for="(item, index) in list" :key="index">
    <td class="text-center">{{ item.id }}</td>
    <td class="text-center">{{ item.type }}</td>
    <td class="text-center">{{ item.idprof }}</td>
    <td class="text-center">{{ item.date }}</td>
    <td class="text-center">{{ item.status }}</td>
    <td class="text-center">
      <div class="flex align-items-center list-user-action">
        <a class="btn btn-sm btn-icon btn-success" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#">
         
            <span class="btn-inner">
            <icon-component type="outlined" icon-name="square-tick" />
          </span>
       
        </a>
        <a class="btn btn-sm btn-icon btn-danger" data-bs-toggle="tooltip" data-placement="top" width="16" height="16" title="" data-original-title="Delete" href="#">
          <span class="btn-inner">
            <icon-component type="outlined" icon-name="square-x" />
          </span>
        </a>
      </div>
    </td>
  </tr>
</template>
<script>
export default {
  props: {
    list: {
      type: Array,
      default: () => []
    },
    id: { type: String, required: true },
    type: { type: String, required: true },
    idprof: { type: String, required: true },
    date: { type: String, required: true },
    status: { type: String, required: true },
   
  
  }
}
</script>
