<template>
    <tr v-for="(item, index) in list" :key="index">
      <td class="text-center">{{ item.id }}</td>
      <td class="text-center">{{ item.type }}</td>
      <td class="text-center">{{ item.dateaccis }}</td>
      <td class="text-center">{{ item.dateassi }}</td>
      <td class="text-center">{{ item.prof }}</td>
      <td class="text-center">
        <div class="flex align-items-center list-user-action">
          <a class="btn btn-sm btn-icon btn-danger" data-bs-toggle="tooltip"  title=""  data-placement="top" data-original-title="Delete" href="#">
            <span class="btn-inner" data-placement="top" >
                  <icon-component type="outlined" icon-name="trash" />
            </span>
          </a>
        </div>
      </td>
    </tr>
  </template>
  <script>
  export default {
    props: {
      list: {
        type: Array,
        default: () => []
      },
      id: { type: String, required: true },
      type : { type: String, required: true },
      dateaccis: { type: String, required: true },
      dateassi: { type: String, required: true },
      prof:{ type: String, required: false },
    
    }
  }
  </script>
  