<template>
  <tr v-for="(item, index) in list" :key="index">
  
    <td  class="text-center">{{ item.immatriculation }}</td>
     <td  class="text-center">{{ item.nom }}</td>
    <td  class="text-center">{{ item.prenom }}</td>
    <td  class="text-center">{{ item.email }}</td>
    <td  class="text-center">{{ item.cin }}</td>
    <td  class="text-center">{{ item.mobile }}</td>
    <td  class="text-center">{{ item.date_de_naissance}}</td>
    <td  class="text-center">{{ item.lieu_de_naissance}}</td>
    <td class="text-center">
      <div class="flex align-items-center list-user-action">
        
        <a class="btn btn-sm btn-icon btn-warning"   data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" @click="edit(item.id_user)">
          <span class="btn-inner">
            <icon-component type="outlined" icon-name="pencil-alt" />
          </span>
        </a>
        <a class="btn btn-sm btn-icon btn-danger" data-placement="top" title="" data-original-title="Delete" @click="save(item.id_user)" data-bs-toggle="modal" data-bs-target="#new-permission" >
          <span class="btn-inner">
            <icon-component type="outlined" icon-name="trash" />
          </span>
        </a>
      </div>
    </td>
  </tr>
<!-- confirmation-->
<div class="modal fade" id="new-permission" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropPermissionLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropPermissionLabel"> Are you sure you want to delete<br> this record </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-start">
            <button type="button" class="btn btn-primary me-2"  @click="delet()" data-bs-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';

  export default {
  props: {
    list: {
      type: Array,
      default: () => []
    },
  id_user: { type: String, required: true },
  immatriculation: { type: String, required: true },
  nom: { type: String, required: true },
  prenom: { type: String, required: true },
  cin: { type: String, required: true },
  email: { type: String, required: true },
  mobile: { type: String, required: true },
  date_de_naissance: { type: String, required: true },
  lieu_de_naissance: { type: String, required: true },
  
  },
  data(){
    return{
    ido:''
  }
  },
  methods:{
    save(i){
      this.ido=i;
      console.log("hi"+this.ido);
    },
    delet()
    {
      axios.delete('http://localhost:8084/api/v1/user/delete/'+this.ido)
      .then(() => {
       // console.log(response1.data);
       
       this.$router.push('/user-list');
      })
      .catch((error) => {
        this.message= (error.response && error.response.data && error.response.data.message) ||
                    error.message ||
                    error.toString();
      });
        }
    ,
    edit(i){
      console.log("hi"+i);
      this.ido=i;
      this.$router.push({ name: 'default.edit-user',params: { id: i }});
},
  }}
</script>

 
