<template>
    <tr v-for="(item, index) in list" :key="index">
    
      <td class="text-center">{{ item.type }}</td>
   
      <td class="text-center">{{ item.number }}</td>
      <td>
        <div class="flex align-items-center list-user-action text-center">
          <a class="btn btn-sm btn-icon btn-danger text-center" data-bs-toggle="tooltip"  title=""  data-placement="top" data-original-title="Delete" href="#">
            <span class="btn-inner" >
                  <icon-component type="outlined" icon-name="trash" />
            </span>
          </a>
        </div>
      </td>
    </tr>
  </template>
  <script>
  export default {
    props: {
      list: {
        type: Array,
        default: () => []
      },
      type : { type: String, required: true },
      number:{ type: String, required: true }
    
    }
  }
  </script>
  