<template><form @submit.prevent="AddAgent">
  <b-row>
    <b-col xl="3" lg="4">
      <b-card>
        <card-header class="d-flex justify-content-between">
          <div class="header-title">
            <h4 class="card-title">Ajouter Un nouveau Agent</h4>
          </div>
        </card-header>
        <b-card-body>
        
            <div class="form-group">
              <div class="profile-img-edit position-relative">
                <img src="@/assets/images/avatars/01.png" alt="profile-pic" class="theme-color-default-img profile-pic rounded avatar-100" loading="lazy" />
                <img src="@/assets/images/avatars/avtar_1.png" alt="profile-pic" class="theme-color-purple-img profile-pic rounded avatar-100" loading="lazy" />
                <img src="@/assets/images/avatars/avtar_2.png" alt="profile-pic" class="theme-color-blue-img profile-pic rounded avatar-100" loading="lazy" />
                <img src="@/assets/images/avatars/avtar_4.png" alt="profile-pic" class="theme-color-green-img profile-pic rounded avatar-100" loading="lazy" />
                <img src="@/assets/images/avatars/avtar_5.png" alt="profile-pic" class="theme-color-yellow-img profile-pic rounded avatar-100" loading="lazy" />
                <img src="@/assets/images/avatars/avtar_3.png" alt="profile-pic" class="theme-color-pink-img profile-pic rounded avatar-100" loading="lazy" />
                <div class="upload-icone bg-primary">
                  <svg class="upload-button" width="14" height="14" viewBox="0 0 24 24">
                    <path fill="#ffffff" d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" />
                  </svg>
                  <input class="file-upload" type="file" accept="image/*" />
                </div>
              </div>
            
            </div>
           
            <div class="form-group">
              <label class="form-label" for="furl">CIN:</label>
              <input type="text" class="form-control" id="furl" placeholder="CIN" v-model="cin" required />
            </div>
           
       
        </b-card-body>
      </b-card>
    </b-col>
    <div class="col-xl-9 col-lg-8">
      <b-card>
        <card-header class="d-flex justify-content-between">
          <div class="header-title">
            <h4 class="card-title"> Information d'Agent </h4>
          </div>
        </card-header>
        <b-card-body>
          <div class="new-user-info">
            
              <b-row>
                <b-col md="6" class="form-group">
                  <label class="form-label" for="fname">Prenom:</label>
                  <input type="text" class="form-control" id="fname" placeholder="First Name" v-model="fname"   v-bind:class="{ 'is-invalid': errors.prenom }" required />
                  <div v-if="errors.prenom" class="invalid-feedback">{{errors.prenom}}</div>
                </b-col>
                <b-col md="6" class="form-group">
                  <label class="form-label" for="lname">Nom:</label>
                  <input type="text" class="form-control" id="lname" placeholder="Last Name"  v-model="lname" v-bind:class="{ 'is-invalid': errors.nom }" required />
                  <div v-if="errors.nom" class="invalid-feedback">{{errors.nom}}</div>
                </b-col>
                <b-col md="6" class="form-group">
                  <label class="form-label" for="mobno">Mobile :</label>
                  <input type="text" class="form-control" id="mobno" placeholder="Mobile Number" v-model="nbr"  v-bind:class="{ 'is-invalid': errors.type }" required  />
                  <div v-if="errors.tele" class="invalid-feedback">{{errors.type}}</div>
                </b-col>
                <b-col md="6" class="form-group">
                  <label class="form-label" for="mobno">Email:</label>
                  <input type="email" class="form-control" id="mobno" placeholder="Email" v-model="email" required  />
                </b-col> 
                <b-col md="6" class="form-group">
                  <label class="form-label" for="email">Date Naissance:</label>
                  <input type="date" class="form-control" id="email" v-model="date" required >
                </b-col>
                <b-col md="6" class="form-group">
                  <label class="form-label" for="email">Lieu Naissance:</label>
                  <input type="text" class="form-control" id="email" placeholder="Oujda" v-model="lieu"                  v-bind:class="{ 'is-invalid': errors.num_bureau }" required />
              <div v-if="errors.num_bureau" class="invalid-feedback">{{errors.num_bureau}}</div>
                </b-col>
              </b-row>             
              <button type="submit" class="btn btn-primary">Ajouter Un nouveau Agent</button>
              <div v-if="message" class="alert alert-danger" role="alert">{{ message }}</div>
          </div>
        </b-card-body>
      </b-card>
    </div>
  </b-row></form>
</template>
<script>
import axios from 'axios';
import All from '../../models/All';
export default {
  name: 'AddPage',
  data() {
    return {
      errors: {
        prenom: '',
        nom: '',
        role: '',
        grade: '',
        num_bureau: '',
        cin: '',
        login: '',
        tele: '',
      }
    }
  },
  methods: {
    AddAgent() {
      //validation des donnes:
     this.errors = {}; // reset errors object
     const chaine= /[a-zA-Z]+/
      if (!chaine.test(this.lname)) {
        this.errors.nom= "Le nom de famille doit être une chaîne";
        console.log("hola4");
      }
      if (!chaine.test(this.fname)) {
        this.errors.prenom = "Le prénom doit être une chaîne ";
      }    
      if (isNaN(this.nbr)) {
        this.errors.type = "Veuillez entrer le numéro de téléphone";
      }
      if (!chaine.test(this.lieu)) {
        this.errors.num_bureau = "Le lieu doit être une chaîne";
      }
      console.log("hi1")
      if(!this.errors.nom&&!this.errors.prenom&&!this.errors.type&&!this.errors.num_bureau){
    console.log("hi")
      let all=new All(this.lname,this.fname,this.cin,this.email,this.nbr,"ROLE_AGENT",this.date,this.lieu);
      axios.post('http://localhost:8084/api/v1/user/sa', all)
        .then((response1) => {
          console.log(response1.data);
          this.$router.push('/user-list');
        })
        .catch((error) => {
          this.message = (error.response && error.response.data && error.response.data.message) ||
            error.message ||
            error.toString();
        });
    }
  }
}
}

</script>