<template><form @submit.prevent="EditAgent">
    <b-row>
      <b-col xl="3" lg="4">
        <b-card>
          <card-header class="d-flex justify-content-between">
            <div class="header-title">
              <h4 class="card-title">Modifier Un  Agent</h4>
            </div>
          </card-header>
          <b-card-body>
          
              <div class="form-group">
                <div class="profile-img-edit position-relative">
                  <img src="@/assets/images/avatars/01.png" alt="profile-pic" class="theme-color-default-img profile-pic rounded avatar-100" loading="lazy" />
                  <img src="@/assets/images/avatars/avtar_1.png" alt="profile-pic" class="theme-color-purple-img profile-pic rounded avatar-100" loading="lazy" />
                  <img src="@/assets/images/avatars/avtar_2.png" alt="profile-pic" class="theme-color-blue-img profile-pic rounded avatar-100" loading="lazy" />
                  <img src="@/assets/images/avatars/avtar_4.png" alt="profile-pic" class="theme-color-green-img profile-pic rounded avatar-100" loading="lazy" />
                  <img src="@/assets/images/avatars/avtar_5.png" alt="profile-pic" class="theme-color-yellow-img profile-pic rounded avatar-100" loading="lazy" />
                  <img src="@/assets/images/avatars/avtar_3.png" alt="profile-pic" class="theme-color-pink-img profile-pic rounded avatar-100" loading="lazy" />
                  <div class="upload-icone bg-primary">
                    <svg class="upload-button" width="14" height="14" viewBox="0 0 24 24">
                      <path fill="#ffffff" d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" />
                    </svg>
                    <input class="file-upload" type="file" accept="image/*" />
                  </div>
                </div>
              
              </div>
             
              <div class="form-group">
                <label class="form-label" for="furl">CIN:</label>
                <input type="text" class="form-control" id="furl" placeholder="CIN" v-model="All.cin" required />
              </div>
             
         
          </b-card-body>
        </b-card>
      </b-col>
      <div class="col-xl-9 col-lg-8">
        <b-card>
          <card-header class="d-flex justify-content-between">
            <div class="header-title">
              <h4 class="card-title"> Information d'Agent </h4>
            </div>
          </card-header>
          <b-card-body>
            <div class="new-user-info">
              
                <b-row>
                  <b-col md="6" class="form-group">
                    <label class="form-label" for="fname">Prenom:</label>
                    <input type="text" class="form-control" id="fname" placeholder="First Name" v-model="All.nom" required  />
                  </b-col>
                  <b-col md="6" class="form-group">
                    <label class="form-label" for="lname">Nom:</label>
                    <input type="text" class="form-control" id="lname" placeholder="Last Name"  v-model="All.prenom" required />
                  </b-col>
                  <b-col md="6" class="form-group">
                    <label class="form-label" for="mobno">Mobile Number:</label>
                    <input type="text" class="form-control" id="mobno" placeholder="Mobile Number" v-model="All.mobile" required  />
                  </b-col>
                  <b-col md="6" class="form-group">
                    <label class="form-label" for="mobno">Email:</label>
                    <input type="email" class="form-control" id="mobno" placeholder="Email" v-model="All.email" required  />
                  </b-col> 
                  <b-col md="6" class="form-group">
                    <label class="form-label" for="email">Date Naissance:</label>
                    <input type="date" class="form-control" id="email" v-model="All.date_de_naissance" required >
                  </b-col>
                  <b-col md="6" class="form-group">
                    <label class="form-label" for="email">Lieu Naissance:</label>
                    <input type="text" class="form-control" id="email" placeholder="Oujda" v-model="All.lieu_de_naissance" required  />
                  </b-col>
                </b-row>             
                <button type="submit" class="btn btn-primary">Modifier Agent</button>
                <div v-if="message" class="alert alert-danger" role="alert">{{ message }}</div>
            </div>
          </b-card-body>
        </b-card>
      </div>
    </b-row></form>
  </template>
  <script>
  import axios from 'axios';
  export default {
    name: 'AddPage',
    data() {
      return {
        All:{
        id_user:"",
        immatriculation:"",
        nom :"" ,
        prenom :"",
        cin :"",
        email : "",
        mobile : "",
        role : "",
        date_de_naissance : "",
        lieu_de_naissance : "",
        },
        Update:{
        id_user:"",
        immatriculation:"",
        nom :"" ,
        prenom :"",
        cin :"",
        email : "",
        mobile : "",
        role : "",
        date_de_naissance : "",
        lieu_de_naissance : "",
        },
        errors: {
          prenom: '',
          nom: '',
          role: '',
          grade: '',
          num_bureau: '',
          cin: '',
          login: '',
          tele: '',
        }
      }
    },
    mounted() {
      const id = this.$route.params.id;;
      console.log("hi"+id);
      axios.get('http://localhost:8084/api/v1/user/getUserId/'+id)
        .then((response) => {
          this.All = response.data;
          console.log(response.data)
          this.Update=this.All;
        })
        .catch((error) => {
          console.error(error);
        });
    },
    methods: {
      EditAgent() {
        //validation des donnes:
       this.errors = {}; // reset errors object
       const chaine= /[a-zA-Z]+/
        if (!chaine.test(this.All.nom)) {
          this.errors.nom= "Le nom de famille doit être une chaîne";
          console.log("hola4");
        }
        if (!chaine.test(this.All.prenom)) {
          this.errors.prenom = "Le prénom doit être une chaîne ";
        }    
        if (isNaN(this.All.mobile)) {
          this.errors.type = "Veuillez entrer le numéro de téléphone";
        }
        if (!chaine.test(this.All.lieu_de_naissance)) {
          this.errors.num_bureau = "Le lieu doit être une chaîne";
        }
        console.log("hi1")
        if(!this.errors.nom&&!this.errors.prenom&&!this.errors.type&&!this.errors.num_bureau){
      console.log("hi")
       // let all=new All(this.All.nom,this.All.prenom,this.All.cin,this.All.email,this.All.mobile,"AGENT",this.All.date_de_naissance,this.All.lieu_de_naissance);
        axios.put('http://localhost:8084/api/v1/user/update', this.Update)
          .then((response1) => {
            console.log(response1.data);
            this.$router.push('/user-list');
          })
          .catch((error) => {
            this.message = (error.response && error.response.data && error.response.data.message) ||
              error.message ||
              error.toString();
          });
      }
    }
  }
  }
  
  </script>