<template>
  <b-row>
    <b-col sm="12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h4 class="card-title">Agent List</h4>
            <br>
            <div class="col-md-20">
              
              <input type="search" class="form-control form-control-sm" v-model="search" placeholder="Chercher...">
          
          </div>
          </div>
        </div>
        <div class="card-body px-0">
          <div class="table-responsive">
            <table id="user-list-table" class="table table-striped" role="grid" data-toggle="data-table">
              <thead>
                <tr class="ligth">
                  <th>Immatriculation</th>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>CIN</th>
                  <th>Contact</th>
                  <th>Email</th>
                  <th>Date De Naissance</th>
                  <th>Lieu De Naissance</th>
                  <th style="min-width: 100px">Action</th>
                </tr>
              </thead>
              <tbody>
                <table-widget :list="filteredPosts" />
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>
<script>
import TableWidget from '@/components/widgets/users/TableWidget.vue'
import axios from 'axios';
export default {
  components: {
    TableWidget
  },
  id_user: { type: String, required: true },
  immatriculation: { type: String, required: true },
  nom: { type: String, required: true },
  prenom: { type: String, required: true },
  cin: { type: String, required: true },
  email: { type: String, required: true },
  mobile: { type: String, required: true },
  date_de_naissance: { type: String, required: true },
  lieu_de_naissance: { type: String, required: true },

  data() {
    return {
      search: "",
      tableData: []
    }
  },
  mounted() {
    this.getRequestData()
  },
  methods: {
    async getRequestData() {
      try {
        const response = await axios.get('http://localhost:8084/api/v1/user/getAllUserAg')
        this.tableData = response.data
        console.log(response.data);
      } catch (error) {
        console.error(error)
      }
    }
  },
  computed: {
    filteredPosts() {
      return this.tableData.filter(list =>
        list.nom.toLowerCase().includes(this.search.toLowerCase())
      );
    }
  }
}
</script>
