<template>
  <b-row>
    <b-col lg="12">
      <b-card>
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <div class="d-flex flex-wrap align-items-center">
            <div class="profile-img position-relative me-3 mb-3 mb-lg-0 profile-logo profile-logo1">
              <img src="@/assets/images/avatars/01.png" alt="User-Profile" class="theme-color-default-img img-fluid rounded-pill avatar-100" loading="lazy" />
            </div>
            <div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
              <h4 class="me-2 h4">{{this.tableData.nom}} {{this.tableData.prenom}}</h4>
              <span>{{this.role}}</span>
            </div>
          </div>
   
        </div>
      </b-card>
    </b-col>
    <b-col lg="2">
   
    </b-col>
    <b-col lg="8">
      <div class="profile-content tab-content iq-tab-fade-up">
        <div id="profile-profile" class="tab-pane fade active show">
        <profile-widget :nom="this.tableData.nom" :prenom="this.tableData.prenom"
  :cin="this.tableData.cin" :email="this.tableData.email" :tele="this.tableData.mobile"
  :date_naissance="this.tableData.date_de_naissance" :lieu_naissance="this.tableData.lieu_de_naissance" :immatriculation="this.tableData.immatriculation"
  :role="this.tableData.role" :text="this.tableData.text" />
       
        </div>
      </div>
    </b-col>
  </b-row>
</template>
<script>

import ProfileWidget from '@/components/widgets/users/ProfileWidget.vue'
import axios from 'axios';
export default {
  components: {
    ProfileWidget
  },
  nom: { type: String, required: true },
  prenom: { type: String, required: true },
  cin: { type: String, required: true },
  email: { type: String, required: true },
  tele: { type: String, required: true },
  date_naissance: { type: String, required: true },
  lieu_naissance: { type: String, required: true },
  immatriculation: { type: String, required: true },
  role:{ type: String, required: true },
  text:{ type: String, required: true },
  data() {
    return {
      search: "",
      tableData: [],
      role:""

    }
  },
  mounted() {
    this.getRequestData()
  },
  methods: {
    async getRequestData() {
      try {
      
        const response = await axios.get('http://localhost:8084/api/v1/user/getUserByImm/'+JSON.parse(localStorage.getItem("user")).login)
        this.tableData = response.data;
        if(JSON.parse(localStorage.getItem("user")).role=='ROLE_ADMIN')
        {
          this.role="Administrateur d'assurance";
          this.tableData.role="Administrateur d'assurance";
          this.tableData.text="un administrateur d'assurance expérimenté, chargé de gérer efficacement les aspects administratifs des polices d'assurance pour assurer la satisfaction des clients et le respect des réglementations de l'industrie de l'assurance.";
        
        }
        else if(JSON.parse(localStorage.getItem("user")).role=='ROLE_AGENT')
        {
          this.role="Agent d'assurance";
          this.tableData.role="Agent d'assurance";
          this.tableData.text="un agent d'assurance compétent et expérimenté, chargé d'aider les clients à trouver les meilleurs produits d'assurance pour répondre à leurs besoins spécifiques. Mon rôle consiste à fournir des conseils d'expert, à aider les clients à comprendre les termes et les conditions des polices d'assurance, à gérer les réclamations et à assurer une satisfaction client élevée.";
        
        }
        else{
        this.role="Adhérent";
        this.tableData.role="Adhérent";
        this.tableData.text="membre d'un groupe ou d'une organisation qui offre une assurance collective à ses membres pour les protéger contre les risques spécifiques couverts par cette assurance, tels que la santé, la vie ou l'invalidité.";
        
     }
      } catch (error) {
        console.error(error)
      }
    },
  }
}
</script>
